spring:
  datasource:
    # url: jdbc:postgresql://localhost:5432/visitor?createDatabaseIfNotExist=true
    # username: postgres
    # password: root
    url: jdbc:postgresql://13.201.46.231:5432/visitor?createDatabaseIfNotExist=true
    username: visitor
    password: visitor
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000 # 24 hours

logging:
  level:
    org.springframework.security: DEBUG
    com.smartsecurity: DEBUG

server:
  port: 8080
  error:
    include-message: always
